    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Parameters</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('parameters', mode = 'change') }}" role="button">Edit</a>
          </div>
        </div>
      </div>

      <table class = "st_table">
        <tr>
          {% for var in headers %}
          <th>{{var}}</th>
          {% endfor %}
        </tr>
        {% for row in data %}
        <tr class = "table__row">
          {% for cell in row %}
          <td class = "table_cell">{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </main>
